:root{
    --previewthemeforestnet---black: rgba(0, 0, 0, 1);
--previewthemeforestnet---blue: rgba(0, 0, 238, 1);
--previewthemeforestnet---sushi: rgba(129, 180, 65, 1);
--previewthemeforestnet---nero: rgba(255, 255, 255, 1);
--previewthemeforestnet---mine--shaft: rgba(38, 38, 38, 1);
--previewthemeforestnet---sushi: rgba(130, 180, 64, 1);
--previewthemeforestnet---medium--purple: rgba(139, 62, 234, 1);
--previewthemeforestnet---shark: rgba(33, 37, 41, 1);
--previewthemeforestnet---ebony--clay: rgba(43, 37, 64, 1);
--previewthemeforestnet---selago: rgba(243, 246, 253, 1);
--previewthemeforestnet---medium--purple-9: rgba(139, 62, 234, 0.09000000357627869);
--previewthemeforestnet---waterloo: rgba(129, 128, 144, 1);
--previewthemeforestnet---blue--chalk: rgba(245, 238, 253, 1);
--previewthemeforestnet---ebony--clay-77: rgba(43, 37, 64, 0.7699999809265137);
--previewthemeforestnet---alto-46: rgba(210, 210, 210, 0.46000000834465027);
--previewthemeforestnet---alto: rgba(210, 210, 210, 1);
--previewthemeforestnet---alto-46: rgba(221, 221, 221, 0.46000000834465027);
--previewthemeforestnet---pale--sky: rgba(108, 117, 125, 1);
--previewthemeforestnet---nero-24: rgba(255, 255, 255, 0.23999999463558197);
--previewthemeforestnet---alto-47: rgba(219, 219, 219, 0.4699999988079071);

/* Text-size styles */
--previewthemeforestnet---inter---regular-1125-underline: 11.25px;
--previewthemeforestnet---inter---regular-1323: 13.234375px;
--previewthemeforestnet---roboto---medium-18: 18px;
--previewthemeforestnet---roboto---medium-16: 16px;
--previewthemeforestnet---roboto---medium-24: 24px;
--previewthemeforestnet---roboto---regular-16: 16px;
--previewthemeforestnet---roboto---regular-82: 82px;
--previewthemeforestnet---roboto---light-24: 24px;
--previewthemeforestnet---roboto---medium-16: 16px;
--previewthemeforestnet---roboto---medium-22: 22px;
--previewthemeforestnet---roboto---regular-12: 12px;
--previewthemeforestnet---roboto---medium-22: 22px;
--previewthemeforestnet---roboto---regular-18: 18px;
--previewthemeforestnet---roboto---regular-36: 36px;
--previewthemeforestnet---roboto---regular-18: 18px;
--previewthemeforestnet---roboto---medium-36: 36px;
--previewthemeforestnet---roboto---regular-150: 150px;
--previewthemeforestnet---roboto---medium-38: 38px;
--previewthemeforestnet---roboto---medium-20: 20px;
--previewthemeforestnet---roboto---regular-14: 14px;
--previewthemeforestnet---roboto---medium-16: 16px;
--previewthemeforestnet---roboto---regular-22: 22px;
--previewthemeforestnet---roboto---medium-22: 22px;
--previewthemeforestnet---roboto---medium-22: 22px;
--previewthemeforestnet---roboto---regular-16: 16px;
--previewthemeforestnet---roboto---regular-14: 14px;
--previewthemeforestnet---roboto---medium-14: 14px;
--previewthemeforestnet---roboto---regular-14: 14px;
--previewthemeforestnet---roboto---regular-50: 50px;
--previewthemeforestnet---roboto---regular-50: 50px;
--previewthemeforestnet---roboto---medium-30: 30px;
--previewthemeforestnet---roboto---medium-26: 26px;
--previewthemeforestnet---font--awesome-5--brands---regular-16: 16px;
--previewthemeforestnet---font--awesome-5--brands---regular-14: 14px;
--previewthemeforestnet---poppins---medium-14: 14px;
--previewthemeforestnet---poppins---regular-14: 14px;
--previewthemeforestnet---poppins---regular-16: 16px;
--previewthemeforestnet---poppins---medium-16: 16px;
--previewthemeforestnet---poppins---light-16: 16px;
--previewthemeforestnet---font--awesome-5--free---solid-16: 16px;
--previewthemeforestnet---font--awesome-5--free---solid-24: 24px;
--previewthemeforestnet---font--awesome-5--free---solid-24: 24px;
--previewthemeforestnet---font--awesome-5--free---solid-14: 14px;
--previewthemeforestnet---font--awesome-5--free---solid-7: 7px;
}